{% extends "layout.html" %}

{% block body %}
<div class="text-center">
    <h1>Whisper your heart to the moon 🌙</h1>
    {% if session.user_id %}
    <form action="/analyze" method="post" class="mt-4">
        <textarea name="message" class="form-control" placeholder="Share your feelings with me..." rows="4" required></textarea>
        <button type="submit" class="btn btn-warning mt-3">🎵Feel the Emotion🎧</button>
    </form>
    {% else %}
    <p class="mt-4">Please <a href="/login">Log in</a> then talk to the moon✨</p>
    {% endif %}
</div>
{% endblock %}
